.project-details {
    margin-left: 10px;
}

.project-details__name {
    font-family: 'Franklin Gothic Book';
    font-size: 14px;
    color: #686868;
    margin: 0;
}

.project-details__date {
    font-family: 'Franklin Gothic Book';
    font-size: 12px;
    color: #B1B1B2;
    margin: 0;
}
