.btn {
    margin: 15px;
}

.btn__home {
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 8px;
    padding: 12px 25px;
    font-family: 'DroidSans';
    font-size: 16px;
    color: #8B8A8A;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.btn__home:hover {
    cursor: pointer;
    background: darken(white, 5%);
}
