$menu-text-color: #828587;

.menu {
    display: inline-block;
    position: fixed;
    margin: 50px 50px 0 175px;
}

.menu a {
    text-decoration: none;
}

.menu--container {
    display: flex;
    align-items: center;
}

.menu__user-picture {
    vertical-align: middle;
}

.menu--user-section {
    margin-left: 10px;
}

.menu--user-name,
.menu--edit-link {
  text-decoration: none;
  display: block;
}

.menu--user-name {
  font-family: "Franklin Gothic Medium";
  color: $menu-text-color;
  font-size: 16px;
  margin: 0;
}

.menu--user-name:hover {
    color: darken($menu-text-color, 15%);
}

.menu--edit-link {
    font-family: "Franklin Gothic Book";
    color: $menu-text-color;
    font-size: 12px;
    margin: 0;
}

.menu--edit-link:hover {
    color: darken($menu-text-color, 15%);
    text-decoration: underline;
}

.menu--section-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 12px;
    color: $menu-text-color;
    margin: 10px 0 10px 0;
}

.menu--nav,
.menu--project-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu--nav {
    margin-top: 10px;
}

.menu--nav-link,
.menu--project-list-item {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Book';
    font-size: 12px;
    padding: 7px;
    transition: all 0.2s ease-out;
}

.menu--nav-icon {
    width: 20px;
    color: $menu-text-color;
}

.menu--nav-link:hover,
.menu--project-list-item:hover {
    background: #E8E3E3;
    cursor: pointer;
}

.menu--nav-link p,
.menu--project-list-item p {
    color: $menu-text-color;
    margin: 0 0 0 10px;
}

.demo--box {
    display: inline-block;
    background: $menu-text-color;
    width: 25px;
    height: 25px;
}
