.menu {
    margin: 50px 50px 0 0;
}

.menu--container {
    display: flex;
    align-items: center;
}

.menu--user-section {
    margin-left: 10px;
}

.menu--user-name,
.menu--edit-link {
  text-decoration: none;
  display: block;
}

.menu--user-name {
  font-family: "Franklin Gothic Medium";
  color: #828587;
  font-size: 14px;
  margin: 0;
}

.menu--user-name:hover {
    color: color(#828587 b(95%));
}

.menu--edit-link {
    font-family: "Franklin Gothic Book";
    color: #828587;
    font-size: 12px;
    margin: 0;
}

.menu--edit-link:hover {
    color: color(#828587 b(95%));
    text-decoration: underline;
}

.menu--section-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 12px;
    color: #828587;
    margin: 10px 0 10px 0;
}

.menu--nav,
.menu--project-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu--nav {
    margin-top: 10px;
}

.menu--nav-link,
.menu--project-list-item {
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Book';
    font-size: 12px;
    padding: 10px;
    transition: all 0.2s ease-out;
}

.menu--nav-icon {
    width: 20px;
    color: #828587;
}

.menu--nav-link:hover,
.menu--project-list-item:hover {
    background: #E8E3E3;
    cursor: pointer;
}

.menu--nav-link a,
.menu--project-list-item a {
    text-decoration: none;
    color: #828587;
    margin-left: 10px;
}

.demo--box {
    display: inline-block;
    background: #828587;
    width: 25px;
    height: 25px;
}
