.feed-list {
    width: 100%;
    padding: 35px;
    padding-top: 0;
}

.feed-list__header-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 48px;
    color: #686868;
    margin: 0 0 25px 0;
}
