.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border: 1px solid #D9D9DE;
  padding: 35px 30px;
  width: 585px;
  margin: 50px auto;
  border-radius: 3px;
}
