.project-feed__header {
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    color: #686868;
    margin: 0 0 15px 0;
}

.project-feed__list {
    padding: 0;
    list-style: none;
}

.project-feed__list-item {
    background: white;
    border: 1px solid #B1B1B2;
    border-radius: 3px;
    margin: 50px 0;
    padding: 25px;
}
