@font-face {
  font-family: "icons";
  src: url('./icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  vertical-align: middle;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.icon-feed:before { content: "\e001" }
.icon-tasks:before { content: "\e002" }
