.promo-user {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 20%;
    height: auto;
    transition: 0.3s all;
}

.promo-user__img {
    width: 100%;
    height: 100%;
    animation: loaded 1.5s;
}

@keyframes loaded {
    from { opacity: 0; }
    to { opacity: 1; }
}
