.search-dropdown {
    position: relative;
    z-index: -1;
    width: 100%;
    background: white;
    border: 1px solid #D9D9DE;
    border-radius: 3px;
    animation: slideIn 0.4s ease
}

@keyframes slideIn {
    from { transform: translateY(-65px); }
    to { transform: translateY(0); }
}

.search-dropdown__results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    list-style: none;
}

.search-dropdown__result {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    transition: all 0.3s ease;
}

.search-dropdown__result:hover {
    cursor: pointer;
    background: #EEEEEE;
}

.search-dropdown__result-title {
    font-family: 'Franklin Gothic Medium';
    font-size: 36px;
    margin: 15px 0;
}

.search-dropdown__result-desc {
    font-family: 'Franklin Gothic Book';
    font-size: 18px;
}

.search-dropdown__result-info {
    margin-left: 15px;
}

.search-dropdown__result-link {
    width: 100%;
    text-decoration: none;
    color: #686868;
}

.search-dropdown--loading {
    width: 50px;
    height: 50px;
    border: 2px solid #B1B1B2;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotate .75s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0); }
  to { transform: rotate(360deg); }
}
